.cont-log{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(181,181,238,1) 0%, rgba(0,212,255,1) 100%);
    padding-top: 50px;
    padding-bottom: 100px;
}
form{
    width: 30%;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.btn-primary{
    width: 100%;
    border: none;
    border-radius:10px;
}
@media only screen and (max-width:768px){
    form{
         width: 100% !important;
    }
}
@media only screen and (max-width:375px){
    form{
         width: 100% !important;
    }
}
@media only screen and (max-width:1024px){
    form{
         width: 70% !important;
    }
}
@media only screen and (max-width:970px){
    form{
         width: 50% !important;
    }
} 